[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
requests = "*"
lxml = "*"
bs4 = "*"
is-isbn = "*"

[requires]
python_version = "3.10"
