[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
v = {editable = true,version = "*"}

[packages]
requests = "*"
lxml = "*"
bs4 = "*"

[requires]
python_version = "3.7"
